body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

h3 {
  color: #581808;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #181010;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #f88848;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #181010;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.equipe,
.sobre {
  grid-column: 2 / 4;
}

.sobre h2 {
  font-size: 2.5rem;
}

.equipe-descricao,
.sobre-descricao {
  grid-column: 1 / 4;
}

.titulo {
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.projetos h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #581808;
}

.projetos h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #e05010;
}

.equipe p,
.equipe ul li,
.sobre p,
.sobre ul li,
.projetos p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.projetos-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.projetos-lista li {
  cursor: pointer;
}

.projetos-lista::-webkit-scrollbar {
  width: 18px;
}

.projetos-lista::-webkit-scrollbar-thumb {
  background: #e05010;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.projetos-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.projetos-descricao {
  grid-column: 3;
}

.projetos-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #E54;
}

.sobre h2::before,
.equipe h3::before,
.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: .5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #f88848;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #f88848;
}

.copy p {
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}


.iframe-container {
  position: relative;
  width: 100%;
  /* A proporção 4:3 (altura/largura) */
  /* Para 16:9, use 56.25% (9/16 * 100) */
  /* Para 1:1, use 100% (1/1 * 100) */
  padding-bottom: 75%; /* (450 / 600) * 100 = 75% */
  height: 0;
  overflow: hidden;
  max-width: 100%; /* Garante que não ultrapasse a largura do pai */
  grid-column: 1 / 3;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.equipe-membro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

.equipe-membro img {
  width: 400px;   /* Defina uma largura fixa */
  height: 400px;  /* Defina uma altura fixa igual à largura para que fiquem quadradas */
  object-fit: cover; /* Recorta a imagem para preencher o espaço, mantendo a proporção */
  object-position: center; /* Centraliza a imagem dentro do seu contêiner */
  place-self: center;
}


.equipe h2 {
  font-size: 3rem;
}

.equipe h3 {
  font-size: 2rem;
}


@media (max-width: 700px) {
  .projetos-lista,
  .grid-container {
    grid-template-columns: 1fr;
  }

  .equipe-membro {
    grid-template-columns: 1fr;
  }

  .equipe-membro img {
    width: 200px;
    height: 200px;
    place-self: center;
  }

  .equipe,
  .equipe-membro,
  .menu,
  .grid-section,
  .projetos-lista,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .projetos-lista {
    grid-column: 1 / -1; /* Ocupa todas as colunas disponíveis */
    height: 370px; /* Permite que a altura se ajuste ao conteúdo */
    overflow-y: scroll; /* Remove o scroll para que todo o conteúdo seja visível */
    padding: 0 10px;
  }

  .projetos-lista img {
    /* Ajusta a largura para não ser 50vw. Podemos definir um max-width ou deixá-la flexível. */
    width: 100%; /* Isso fará com que a imagem ocupe 100% da largura do contêiner .projetos-lista */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 250px; /* Defina uma largura máxima para as imagens. Ajuste este valor conforme o desejado. */
    margin-bottom: 5px;
    display: block; /* Garante que as propriedades de margin auto funcionem */
  }

  .projetos-lista li {
    display: flex; /* Para centralizar os itens se necessário */
    flex-direction: column; /* Empilha o conteúdo da li */
    align-items: center; /* Centraliza as imagens horizontalmente dentro do li */
  }

  .projetos-descricao {
    grid-column: 1 / -1; /* Ocupa todas as colunas disponíveis, ficando abaixo da imagem */
  }
  .faq-lista, .dados, .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 2.5rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
}

.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: block !important;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right .5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  animation: show-down .5s forwards;
}


@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url('../img/arrow-red.svg') no-repeat center center;
  margin-left: 10px;
  transform: rotate(90deg);
  transition: transform .3s;
}

[data-anime="accordion"] dt.ativo::after {
  content: '';
  transform: rotate(-90deg);
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-semana]::after {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background: #E54;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid #000;
}

[data-semana].aberto::after {
  background: #3F4;
}

.btc-preco {
  background: #3F4;
  padding: .2rem .5rem;
  font-weight: bold;
  border-radius: 2px;
}

.arrow-black {
  background: url('../img/arrow-black.svg') no-repeat center center;
  display: inline-block;
  width: 8px;
  height: 10px;
}
